body {background-color: black;}
h1 {text-align: center;
color:crimson;
}
div {font-size:22px;
color:white;
background-color: rgba(0, 0, 255, 0.425);
}
a:visited {color:white; 
    font-style: italic
}
a:link {color:white;
font-style:italic
}